h5
{
    border: 1px solid black;
    width: 70px;
    height: 20px;
    background-color: red;
    
    /* FIXED */
    position: fixed;
    top: 0px;
    /* top: 200px;
    left: 200px; */

    /* STICKY */
    /* position: sticky;
    top: 0px; */

}

img
{
    position: absolute;
    z-index: -1;
    top: 0px;
    width: 50%;
    opacity: 0.5;
}