/* Universal Selectros (*) */
    /* *{
        background-color: plum;
        color: red;
    } */

/* ID SELECTOR */
/* #hrishi
{
    background-color: purple;
    color: black;
}

#chaitali
{
    background-color: aqua;
    color: blueviolet;
} */


/* CLASS SELECTRO */
/* .hrishi
{
    color: rebeccapurple;
} */


/* Element Selector */
h1
{
    color: chartreuse;
}

h2
{
    color: darkslateblue;
}