p::first-letter
{
    background-color: aqua;
}

p::first-line
{
    background-color: blueviolet;
    color: brown;
}

h1::before
{
    content: "Hello";
}

h1::after
{
    content: "Hrishikesh.";
}

ol::marker
{
    color: saddlebrown;
}

p::selection
{
    background-color: black;
    color: yellow;
}